[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
bcrypt = "*"
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
isort = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.12"
